In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

def write_answer(value):
    print(value)
    with open("answer.txt", "w") as fout:
        fout.write(str(value))

# Размещение баннеров
Представим, что международное круизное агентство Carnival Cruise Line решило себя разрекламировать с помощью баннеров и обратилось для этого к вам. Чтобы протестировать, велика ли от таких баннеров польза, их будет размещено всего 20 штук по всему миру. Вам надо выбрать 20 таких локаций для размещения, чтобы польза была большой и агентство продолжило с вами сотрудничать.

Агентство крупное, и у него есть несколько офисов по всему миру. Вблизи этих офисов оно и хочет разместить баннеры — легче договариваться и проверять результат. Также эти места должны быть популярны среди туристов.

Для поиска оптимальных мест воспользуемся базой данных крупнейшей социальной сети, основанной на локациях — Foursquare.

Часть открытых данных есть, например, на сайте archive.org:

https://archive.org/details/201309_foursquare_dataset_umn

Скачаем любым удобным образом архив fsq.zip с этой страницы.

Нас будет интересовать файл checkins.dat. Открыв его, увидим следующую структуру:
```
id | user_id | venue_id | latitude | longitude | created_at

---------+---------+----------+-------------------+-------------------+---------------------

984301 | 2041916 | 5222 | | | 2012-04-21 17:39:01

984222 | 15824 | 5222 | 38.8951118 | -77.0363658 | 2012-04-21 17:43:47

984315 | 1764391 | 5222 | | | 2012-04-21 17:37:18

984234 | 44652 | 5222 | 33.800745 | -84.41052 | 2012-04-21 17:43:43

...
```
Для удобной работы с этим документом преобразуем его к формату csv, удалив строки, не содержащие координат — они неинформативны для нас:
```
id,user_id,venue_id,latitude,longitude,created_at

984222,15824,5222,38.8951118,-77.0363658,2012-04-21T17:43:47

984234,44652,5222,33.800745,-84.41052,2012-04-21T17:43:43

984291,105054,5222,45.5234515,-122.6762071,2012-04-21T17:39:22

...
```
С помощью pandas построим DataFrame и убедимся, что все 396634 строки с координатами считаны успешно.

In [2]:
#Обработка dat файла
df = pd.read_csv("data/checkins.dat", sep = "|")
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.dropna()
df.columns = df.columns.str.replace(' ', '')
df.to_csv("data/checkins.csv", index=False)

In [3]:
# читаем из csv как в задании
df = pd.read_csv("data/checkins.csv", sep = ",", usecols = ['latitude', 'longitude'])
df.head()

    latitude   longitude
0  38.895112  -77.036366
1  33.800745  -84.410520
2  45.523452 -122.676207
3  40.764462 -111.904565
4  33.448377 -112.074037

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396634 entries, 0 to 396633
Data columns (total 2 columns):
latitude     396634 non-null float64
longitude    396634 non-null float64
dtypes: float64(2)
memory usage: 6.1 MB

Теперь необходимо кластеризовать данные координаты, чтобы выявить центры скоплений туристов. Поскольку баннеры имеют сравнительно небольшую площадь действия, нам нужен алгоритм, позволяющий ограничить размер кластера и не зависящий от количества кластеров.

Эта задача — хороший повод познакомиться с алгоритмом MeanShift, который мы обошли стороной в основной части лекций. Его описание при желании можно посмотреть в sklearn user guide, а чуть позже появится дополнительное видео с обзором этого и некоторых других алгоритмов кластеризации. Используйте MeanShift, указав bandwidth=0.1, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

Примечание:на 396634 строках кластеризация будет работать долго. Быть очень терпеливым не возбраняется — результат от этого только улучшится. Но для того, чтобы сдать задание, понадобится сабсет из первых 100 тысяч строк. Это компромисс между качеством и затраченным временем. Обучение алгоритма на всём датасете занимает около часа, а на 100 тыс. строк — примерно 2 минуты, однако этого достаточно для получения корректных результатов.

Некоторые из получившихся кластеров содержат слишком мало точек — такие кластеры не интересны рекламодателям. Поэтому надо определить, какие из кластеров содержат, скажем, больше 15 элементов. Центры этих кластеров и являются оптимальными для размещения.

In [5]:
df = df[:100000]
clustering = MeanShift(bandwidth=0.1)
clustering.fit(df)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=None, seeds=None)

In [6]:
df_class = pd.DataFrame(clustering.labels_, columns = ['class'])
series_count = df_class.groupby(['class']).size().rename('count')
series_count = series_count[series_count>15]
series_count.head()

class
0    12506
1     4692
2     3994
3     3363
4     3526
Name: count, dtype: int64

При желании увидеть получившиеся результаты на карте можно передать центры получившихся кластеров в один из инструментов визуализации. Например, сайт mapcustomizer.com имеет функцию Bulk Entry, куда можно вставить центры полученных кластеров в формате:
```
38.8951118,-77.0363658

33.800745,-84.41052

45.5234515,-122.6762071

...
```
Как мы помним, 20 баннеров надо разместить близ офисов компании. Найдем на Google Maps по запросу Carnival Cruise Line адреса всех офисов:
```
33.751277, -118.188740 (Los Angeles)

25.867736, -80.324116 (Miami)

51.503016, -0.075479 (London)

52.378894, 4.885084 (Amsterdam)

39.366487, 117.036146 (Beijing)

-33.868457, 151.205134 (Sydney)
```

In [7]:
df_class = pd.DataFrame({'class':series_count.index, 'count':series_count.values})
df_class[['latitude_center','longitude_center']] = pd.DataFrame(clustering.cluster_centers_[df_class['class']], columns = [['latitude_center','longitude_center']])
df_class.head()

   class  count  latitude_center  longitude_center
0      0  12506        40.717716        -73.991835
1      1   4692        33.449438       -112.002140
2      2   3994        33.446380       -111.901888
3      3   3363        41.878244        -87.629843
4      4   3526        37.688682       -122.409330

In [8]:
office_coords = pd.DataFrame([
    (33.751277, -118.188740),
    (25.867736, -80.324116),
    (51.503016, -0.075479),
    (52.378894, 4.885084),
    (39.366487, 117.036146),
    (-33.868457, 151.205134)
], columns = ['latitude_office', 'longitude_office'])
office_coords.head(10)

   latitude_office  longitude_office
0        33.751277       -118.188740
1        25.867736        -80.324116
2        51.503016         -0.075479
3        52.378894          4.885084
4        39.366487        117.036146
5       -33.868457        151.205134

Осталось определить 20 ближайших к ним центров кластеров. Т.е. посчитать дистанцию до ближайшего офиса для каждой точки и выбрать 20 с наименьшим значением.

*Примечание:* при подсчете расстояний и в кластеризации можно пренебречь тем, что Земля круглая, так как в точках, расположенных близко друг к другу погрешность мала, а в остальных точках значение достаточно велико.

Для сдачи задания выберите из получившихся 20 центров тот, который наименее удален от ближайшего к нему офиса. Ответ в этом задании — широта и долгота этого центра, записанные через пробел.

In [9]:
def cartesian_product_basic(left, right):
    return (
       left.assign(key=1).merge(right.assign(key=1), on='key').drop('key', 1))

all_coords = cartesian_product_basic(df_class, office_coords)
all_coords['distance'] = ((all_coords['latitude_office'] - all_coords['latitude_center'])**2 
+ (all_coords['longitude_office'] - all_coords['longitude_center'])**2 
)**0.5

In [10]:
all_coords = all_coords.sort_values(by = 'distance', ascending=True)

In [11]:
result = ' '.join(all_coords[['latitude_center','longitude_center']].iloc[:1].astype(str).values.tolist()[0])
write_answer(result)

-33.86063042857143 151.20477592857145

## Выводы
* поработал с методом кластеризации MeanShift на данных, у которых нет разметки
* закрепил основы работы с Pandas, что позволило написать код кратко и без циклов